body {
	background-color: rgb(220, 220, 220);

	font-family: sans-serif;

	text-align: center;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: rgb(0, 0, 150);
}
a:hover {
	color: rgb(0, 0, 255);
}
a:active {
	color: rgb(255, 100, 100);
}

img {
	border: 6px solid black;
	border-radius: 10px;
}
